:root {
    font-family: 'Times New Roman', Times, serif;
    --color-1: rgb(153, 113, 60);
    --color-2: rgb(28,28,28);
    --color-3:rgb(54, 54, 54);
    
}
.container-cards {
    position: relative;
    transform-style: preserve-3d;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--color-1);
}
.student-card,
.mentor-card{
    padding: 5px;
    position: relative;
    transform-style: preserve-3d;
    transform: perspective(1000px) ;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 14rem;
    height: 21rem;
    background-color: var(--color-3);
    margin: 1rem;
    border-radius: 20px;
    border-top: 2px solid var(--color-1) ;
    box-shadow: 0px 0px 20px -10px;
    z-index: 2;
}
.student-card-intern {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    align-content: space-between;
    width: 100%;
    height: 100%;
    border: 1px solid var(--color-1);
    border-radius: 15px;
    background-color: var(--color-2);
    
}
/* .student-title::after, .student-age::after {
    transform: translateZ(5px);
}
.student-name::after, .student-house::after {
    transform: translateZ(5px)
}
.student-img::after {
    transform: translateZ(5px)
} */

.student-title, .student-age {
    transform: translateZ(10px);
}
.student-name, .student-house {
    transform: translateZ(20px)
}
.student-img {
    transform: translateZ(25px)
}

.student-img {
    width: 10rem;
    height: 13rem;
    border-radius: 50%;
    border: 10px double var(--color-1);
    box-shadow: 0px 0px 20px -6px;

}
.student-title {
    font-weight: 800;
    font-size: 1.1rem;
}
.student-name {
    font-weight: 800;
    font-size: 1.3rem;
    max-width: 90%;
}
.student-age {
    font-weight: 200;
    font-size: 0.8rem;
}
.mentor-title{
    transform: translateZ(7px);
}
.mentor-name {
    transform: translateZ(17px)
}
.mentor-house {
    transform: translateZ(10px)
}
.mentor-img {
    transform: translateZ(20px)
}
.mentor-card {
    width: 8.8rem;
    height: 14rem;
    padding: 3px;
}
.mentor-card-intern {
    width: 100%;
    height: 100%;
    background-color: var(--color-2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border: 1px solid var(--color-1);
    border-radius: 17px;
}
.mentor-img {
    width: 5rem;
    height: 7rem;
    border-radius: 50%;
    border: 7px double var(--color-1);
    box-shadow: 0px 0px 17px -6px;

}
.mentor-title {
    font-weight: 800;
    font-size: 0.9rem;
}
.mentor-name {
    display: flex;
    align-items: center;
    font-weight: 800;
    font-size: 1.1rem;
    max-width: 90%;
    height: 2rem;
}
.mentor-house {
    font-weight: 200;
    font-size: 0.9rem;
}